/*COLORS
White:	#ffffff
Black:	#000000
Green:	#17b000
Red:	#ff0000*/

/*Reset styles*/
*, *::before, *::after {
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/*Style elements*/
html, body {
	width: 100%;
	height: 100%; }

body {
	font-family: Georgia, serif;
	line-height: 1; }

img {
	max-width: 100%;
	max-height: 100%; }

h1, h2, h3, h4, h5, h6 { font-weight: 100; }
	h1 { font-size: 64px; }
	h2 { font-size: 32px; }
	h3 { font-size: 24px; }

.row {
	max-width: 832px;
	padding: 0 16px;
	margin: auto; }

	.row.full {
		max-width: none;
		padding: 0; }

	.row::after { content: ''; display: block; clear: both; }

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
	display: block;
	float: left; }

	.col-1 { width: 08.333333%; }
	.col-2 { width: 16.666666%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.333333%; }
	.col-5 { width: 41.666666%; }
	.col-6 { width: 50%; }
	.col-7 { width: 33.333333%; }
	.col-8 { width: 66.666666%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.333333%; }
	.col-11 { width: 91.666666%; }
	.col-12 { width: 100%; }

/*Specific styles*/
header {
	max-width: 832px;
	height: 96px;
	padding: 16px;
	margin: auto;

	text-align: center; }

header img {
	display: inline-block;
	margin-right: 16px; }

header h1 {
	display: inline-block;
	font-size: 64px; }

.person {
	position: relative;
	padding-top: 16px; }

	.person:nth-child(2n) { background-color: #ededed; }

	.person h2 { margin-bottom: 8px; }

.good { color: #17b000; }
.bad { color: #ff0000; }

.bottlePlus {
	cursor: pointer;

	position: absolute;
	right: 64px;
	top: 24px;

	width: 48px;
	height: 48px;
	padding: 16px;

	border-radius: 4px;

	background-image: url(images/bottle_icon.svg);
	background-size: cover;
	background-position: center;
	background-color: #17b000; }

	.bottlePlus::after {
		content: '+';

		position: absolute;
		right: 8px; top: 2px;
		
		color: #ffffff; }

.toggle {
	cursor: pointer;

	position: absolute;
	top: 24px; right: 8px;

	width: 48px;
	height: 48px;

	border-radius: 24px; }

	.toggle.open { background-color: #ededed; }

		.person:nth-child(2n) .toggle.open { background-color: #ffffff; }

	.toggle::after {
		content: '';

		position: absolute;
		left: 21px; top: 21px;

		width: 6px;
		height: 6px;

		border-radius: 3px;
		box-shadow: 0 10px, 0 -10px;

		background-color: #000000; }

.actions {
	display: none;

	position: absolute;
	top: 80px; right: 8px;
	z-index: 1;
	
	padding: 8px 0;

	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

	background-color: #ffffff; }

	.toggle.open + .actions { display: block; }

	.actions li {
		cursor: pointer;

		display: block;
		padding: 8px 16px; }
		
		.actions li:hover { background-color: #ededed; }

	.actions hr {
		height: 1px;
		margin: 8px 16px;
		
		background-color: #ededed; }

.crates {
	overflow-x: auto;
	overflow-y: hidden;

	white-space: nowrap;

	height: 128px;
	padding: 16px 0; }

.crate {
	display: inline-block;
	width: 64px;
	height: 96px;
	padding: 2.5px 1.5px 2.5px 2.5px;
	margin: 0 16px 0 0;

	border-radius: 4px;
	
	background-size: cover;
	background-position: center; }

	.crate.paid {
		background-color: #ededed;
		background-image: url(images/crate.svg); }

	.crate.returned { opacity: .2; }

		.person:nth-child(2n) .crate.paid { background-color: #ffffff; }

.bottle {
	display: block;
	width: 8px;
	height: 8px;
	margin: 3.5px 3px 3.5px 3.5px;
	border: 2px solid;

	float: left;

	border-radius: 4px; }

	.bottle:not(.open) { background-color: #000000; }

		.crate:not(.paid) .bottle:not(.open) { display: none; }
		.crate:not(.paid) .bottle.open { border-color: #ff0000; }

.cratePlus {
	cursor: pointer;

	display: inline-block;
	width: 64px;
	height: 96px;
	margin: 0 16px 0 0;
	border: 4px solid;

	border-radius: 4px;

	text-align: center;
	font-size: 64px;
	line-height: 80px;
	vertical-align: middle; }

#statistics {
	padding: 32px 0 0;
	text-align: center; }

.count {
	display: block;
	padding: 32px 0;
	font-size: 64px;
	font-weight: 900; }

#statistics h3 { margin-top: 48px; }

.bar {
	width: 14.2857%;
	min-height: 48px;
	margin-top: 32px;
	border-bottom: solid;

	float: left; }

@media screen and (max-width: 600px) {
	.info h2 { font-size: 24px; }
	.info p { font-size: 12px; }
}

@media screen and (max-width: 528px) {
	header { height: 80px; }
	header h1 { font-size: 48px; }
}

@media screen and (max-width: 410px) {
	header { height: 64px; }
	header h1 { font-size: 32px; }
}