/*COLORS
Yellow: #FFD900
Blue:	#0380FF
White:	#FFFFFF
Black:	#333333
*/

/*Reset styles*/
*, *::before, *::after {
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/*Style elements*/
html, body {
	width: 100%;
	height: 100%; }

body {
	line-height: 1;
	font-family: sans-serif;
	font-weight: 100;
	color: #333333; }

img {
	max-width: 100%;
	max-height: 100%; }

p { line-height: 1.5; }

a {
	border-bottom: 2px solid transparent;

	text-decoration: none;
	font-weight: 400;

	color: #FFD900;
	
	transition: border-bottom-color .2s; }

	a:hover { border-bottom-color: #FFD900; }

ul, ol { margin-left: 2em; }

h1, h2, h3, h4, h5, h6 { font-weight: 100; }
h1 { font-size: 48px; }
h2 { font-size: 32px; margin-bottom: 32px; }

textarea, input { font: inherit; line-height: 1; }

.row {
	max-width: 1024px;
	padding: 32px;
	margin: auto; }

	.row:first-child { padding-top: 96px; }
	.row:last-child { padding-bottom: 96px; }

	.row.full {
		max-width: none;
		padding: 0; }

	.row::after { content: ''; display: block; clear: both; }

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
	display: block;
	float: left; }

	.col-1 { width: 08.333333%; }
	.col-2 { width: 16.666666%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.333333%; }
	.col-5 { width: 41.666666%; }
	.col-6 { width: 50%; }
	.col-7 { width: 33.333333%; }
	.col-8 { width: 66.666666%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.333333%; }
	.col-11 { width: 91.666666%; }
	.col-12 { width: 100%; }

	.col-4 { padding: 0 6px; }
	.col-4:nth-child(3n + 1), .col-4:first-child { padding: 0 12px 0 0; }
	.col-4:nth-child(3n + 3), .col-4:last-child { padding: 0 0 0 12px; }
	.col-6:nth-child(2n + 1) { padding-right: 18px; }
	.col-6:nth-child(2n) { padding-left: 18px; }
	.col-8:first-child { padding-right: 24px; }
	.col-8:last-child { padding-left: 24px; }

.white {
	background-color: #FFFFFF;
	color: #333333; }

.blue {
	background-color: #0380FF;
	color: #FFFFFF; }

/*Specific styles*/

/*Background*/

#background {
	position: fixed;
	left: 0; top: 0; right: 0; bottom: 0;
	z-index: -1;

	background-image: linear-gradient(#3988C9, #8AC4DD); }

#bgvid {
	position: fixed;
	top: 50%; left: 50%;
	z-index: -1;

	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;

	-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%); }

/*Navigation*/

/*Header*/
header {
	position: relative;
	min-height: 100%;

	text-align: center;

	color: #FFFFFF; }

#logo {
	height: 128px;
	margin-top: 100px; }

header h1 { margin: -16px auto 8px; }

#tagline {
	font-style: italic;
	margin-bottom: 32px; }

.app-store, .google-play {
	display: inline-block;
	height: 48px;
	border: none; }

	.app-store { margin-right: 4px; }
	.google-play { margin-left: 4px; }

	.app-store img, .google-play img { height: 100%; }

#warning {
	position: fixed;
	left: 0; bottom: 48px; right: 0;

	font-size: 24px;
	color: #333333; }

#down {
	position: fixed;
	left: 0; bottom: 24px; right: 0;

	width: 48px;
	height: 18px;
	margin: auto;
	border: none;

	background-image: url(images/down-arrow.svg);
	background-size: cover;
	background-position: center; }

/*Animation*/

/*Information*/
#coin {
	display: block;
	height: 160px;
	margin: auto; }

/*Footer*/

footer {
	text-align: center;
	background: #FFFFFF; }

footer a { margin: 8px; }
footer p { margin: 32px 0; }