/*COLORS
Blue:	#3097FC
Orange:	#FFA500
White:	#FFFFFF
*/

/*Font*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

/*Reset styles*/
*, *::before, *::after {
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/*Style elements*/
html, body {
	width: 100%;
	height: 100%; }

body {
	font-family: 'Lato', sans-serif;
	line-height: 1;
	
	background-color: #EEEEEE; }

img {
	max-width: 100%;
	max-height: 100%; }

p, ul, ol {
	line-height: 1.5;
	margin-bottom: 1em; }

ul, ol { margin-left: 2em; }

/*Specific styles*/
#wrapper {
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;

	width: 1280px;
	height: 800px;
	margin: auto;

	box-shadow: 0 4px 8px rgba(0, 0, 0, .5);

	background-image: url(images/background.png);
	background-size: 100%;
	background-position: center; }


#cloud {
	position: absolute;
	left: 58%; top: 160px;
	width: 384px;
	height: 384px;
	margin: auto; }

.key {
	position: absolute;
	left: 0; top: 0;

	width: 192px;
	height: 192px;
	margin: -96px;

	border-radius: 100%;

	background-color: #F6871F;
	color: #FFFFFF;

	-webkit-transform: scale(0);
		-ms-transform: scale(0);
			transform: scale(0); }

	.key:nth-child(n+2) { cursor: pointer; }

	.key:nth-child(1) {
		background-image: url(images/half.svg);
		background-size: cover;
		background-position: center; }

		.key:nth-child(1) .title span {
			display: block;
			line-height: 96px; }

	.key:nth-child(2) { background-color: #3097FC; }
	.key:nth-child(3) { background-color: #3097FC; }
	.key:nth-child(4) { background-color: #3097FC; }

	.key.active, .key.waiting {
		-webkit-transition: all .2s;
			-ms-transition: all .2s;
				transition: all .2s; }

		.key.active {
			z-index: 1;

			left: 192px !important;
			top: 192px !important;
			opacity: 1 !important;
			margin: -96px;

			-webkit-transform: scale(1) !important;
				-ms-transform: scale(1) !important;
					transform: scale(1) !important; }

	.key .title {
		font-weight: bold;
		text-align: center;
		line-height: 192px; }

	.key .word {
		position: absolute;
		left: 0; top: 0;

		opacity: 0;

		display:-webkit-flex;
		display: 	-ms-flex;
		display: 		flex;

		-webkit-justify-content: center;
			-ms-justify-content: center;
				justify-content: center;

		-webkit-align-items: center;
			-ms-align-items: center;
				align-items: center;

		text-align: center;

		width: 96px;
		height: 96px;
		padding: 8px;
		margin: -48px;
		border-radius: 100%;

		font-size: 12px;

		background-color: inherit;

		-webkit-transition: left .2s, top .2s, opacity .2s, -webkit-transform .2s;
				transition: left .2s, top .2s, opacity .2s, 	-ms-transform .2s;
				transition: left .2s, top .2s, opacity .2s, 		transform .2s;

		-webkit-transform: scale(0);
			-ms-transform: scale(0);
				transform: scale(0); }

		.key:not(.active) .word {
			left: 96px !important;
			top: 96px !important; }

		.key.active .word {
			-webkit-transform: scale(1);
				-ms-transform: scale(1);
					transform: scale(1);
			opacity: 1; }

	
