/*
Main colors
		C	Y	M	K		R	G	B		#
Zwart:	0	0	0	87		34	34	34		222222
Rood:	0	93	87	0		255	17	34		FF1122
Geel:	0	7	79	7		238	221	51		EEDD33
Blauw:	93	47	0	0		17	136	255		1188FF
Wit:	0	0	0	0		255	255	255		FFFFFF
*/

/*Reset styles*/
*, *::before, *::after {
	box-sizing: border-box;
	-moz-box-sizing: border-box; }

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	vertical-align: top; }

/*Style elements*/
html, body {
	width: 100%;
	height: 100%; }

body {
	overflow-x: hidden;
	overflow-y: scroll;

	opacity: 0;

	font-family: Gill sans, 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 100;

	line-height: 1;
	
	background-color: #FFF;
	color: #222;
	
	transition: opacity .5s; }

	body.loaded { opacity: 1; }

a {
	display: inline-block;
	
	text-decoration: none;

	color: inherit;

	transition: -webkit-transform .2s;
	transition: transform .2s; }

	a:hover {
		-webkit-transform: scale(1.05);
		transform: scale(1.05); }

b { font-weight: 700; }

p {
	line-height: 1.5;
	padding-bottom: 1em; }

h1 {
	font-weight: 700;
	font-size: 64px;

	text-transform: uppercase; }

h2 {	
	font-weight: 100;
	font-size: 32px; }

img {
	max-width: 100%;
	max-height: 100%; }

#logo {
	position: fixed;
	left: 48px; top: 48px;
	z-index: 2;

	width: 112px;
	height: 64px; }
	
	#logo img { width: 100%; }

#overlink {
	position: fixed;
	right: 72px; top: 72px;
	z-index: 2;

	text-transform: uppercase; }

#mainNav {
	position: fixed;
	top: 0; right: -416px; bottom: 0;
	z-index: 3;

	width: 320px;
	padding: 96px 0 0 128px;

	background-color: #222;
	color: #FFF;
	
	transition: right .3s; }

	#mainNav:target { right: 0; }

	#mainNav::before {
		content: '';

		position: absolute;
		top: 0; left: -96px; bottom: 0;

		border-style: solid;
		border-width: 50vh 48px;
		border-color: transparent #222 #222 transparent; }

	#mainNav h2 { padding: 32px 0; }

	#mainNav div>a {
		display: block;
		padding: .5em 0 .5em 1em; }

.close {
	position: absolute;
	left: -88px; 
	top: 64px;

	width: 128px;
	height: 128px;
	padding: 0 !important;

	border: 64px solid #18F;
	
	border-radius: 100%;

	background: #07D;
	
	transition: -webkit-transform .3s, border-width .3s;
	transition: transform .3s, border-width .3s; }

	.close:hover {
		-webkit-transform: rotate(90deg) scale(1.05);
		transform: rotate(90deg) scale(1.05);

		border-width: 0; }

	.close::before, .close::after {
    	content: '';

		position: absolute;
		left: -64px; top: -64px; right: -64px; bottom: -64px;

		margin: auto;

		border-radius: 1px;

		background: #FFF;
		
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg); }

		.close::before {
			width: 64px;
			height: 14px; }

		.close::after {
			width: 14px;
			height: 64px; }

header, footer {
	position: relative;
	z-index: 2;

	text-align: center;

	background-color: #07D;
	color: #FFF; }

header { margin-bottom: 96px; }

	header::before,
	header::after {
		content: '';
		font-size: 0;

		position: absolute;
		left: 0; top: 100%; right: 0;

		height: 96px;

		border-style: solid; }

		header::before {
			border-color: #F12 transparent transparent #F12;
			border-width: 0 0 80px 100vw; }

		header::after {
			height: 80px;

			border-color: #07D transparent transparent #07D;
			border-width: 0 0 96px 100vw; }
	
	header p, header a {
		position: absolute;
		top: 72px;
		z-index: 0;
		
		text-transform: uppercase;
		font-weight: 700;
		
		color: #FFF; }

		header p { left: 72px; }
		header a { right: 72px; }
	
	header img {
		display: block;
		padding: 96px 0;
		margin: auto; }
	
	header h1 {
		max-width: 1024px;
		padding-bottom: 1em;
		margin: auto;
		
		text-align: center;
		white-space: normal !important; }

@keyframes arrow {
	0% { transform: translate(0, 0); }
	100% { transform: translate(0, 12px); }
}

@-webkit-keyframes arrow {
	0% { -webkit-transform: translate(0, 0); }
	100% { -webkit-transform: translate(0, 12px); }
}

#scrollDown {
	position: absolute;
	left: 0; bottom: -160px; right: 0;
	z-index: 2;

	width: 96px;
	height: 96px;
	margin: auto;

	opacity: 0;
	
	text-align: center;
	line-height: 96px;
	font-size: 96px;
	font-weight: 700;
	
	color: #FFF;
	
	transition: color .5s .5s, bottom .5s .5s;
	
	-webkit-animation: arrow ease-in-out .5s infinite alternate;
	animation: arrow ease-in-out .5s infinite alternate; }
			
	.loaded #scrollDown {
		color: #222;
		bottom: -96px; }

main {
	width: 100%;
	height: 100%;
	overflow: hidden; }

.project {
	position: fixed;
	left: 0; top: 0; right: 0; bottom: 0;

	width: 100%;
	height: 100%; }

	.project.active { z-index: 1; }

.left {
	position: absolute;
	left: 0; top: 0; right: 50%; bottom: 0;

	transition: -webkit-transform .5s;
	transition: transform .5s;
	
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%); }

	.project.active .left {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0); }

	.project.done .left {
		-webkit-transform: translate(0, -100%);
		transform: translate(0, -100%); }

.content {
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	
	max-width: 640px;
	max-height: 100%;
	padding: 0 48px;
	margin: auto; }

	.content .type {
		opacity: .5;
		font-style: italic; }

	.content a {
		display: inline-block;
		margin-right: 1em;
		
		text-transform: uppercase; }
		
		.content a.case { color: #18F; display: none; }
		.content a.link { color: #F12; }

.teaser {
	position: absolute;
	left: 50%; top: 48px; right: 48px; bottom: 48px;

	padding: 48px;

	pointer-events: none;
	
	opacity: 0;
	
	transition: opacity .5s; }

	.project.active .teaser { opacity: 1; }

	.teaser img:not(.shadow) {
		position: absolute;
		left: 0; top: 0; right: 0; bottom: 0;

		margin: auto;
		
		background-repeat: no-repeat; }

		.teaser.multiple .iphone {
			left: 50%;
			max-width: 20%;
			padding-top: 20%;

			background-position-y: 82%;
		}

		.teaser.multiple .imac {
			right: 25%;
			max-width: 75%;
		}

		.teaser.multiple .shadow {
			max-height: 200%;
		}

.iphone {
	background-size: 85%;
	background-position: 51% 52%; }

.ipad {
	background-size: 83%;
	background-position: 50% 49%; }

.imac {
	background-size: 93%;
	background-position: 50% 14%; }

.shadow {
	position: absolute;
	left: 0; right: 0;
	z-index: -1;

	display: block;
	width: 75%;
	margin: auto; }

#about {
	position: relative;
	z-index: 2;

	margin-top: 96px;
	margin-bottom: -96px;

	border-bottom: 96px solid #222;
	
	background-color: #222;
	color: #FFF; }

	#about::before {
		content: '';

		position: absolute;
		left: 0; bottom: 100%; right: 0;

		height: 96px;

		border-color: transparent transparent #222 #222;
		border-width: 48px 50vw;
		border-style: solid; }

	#about h1,
	#about p { width: 50%; }

		#about h1 { padding: 96px 0 48px 96px; }
		#about p { padding: 0 0 1em 96px; }

			#about p:last-of-type { padding-bottom: 2em; }
	
#social { padding: 16px 0 0 96px; }

#portrait {
	position: absolute;
	right: 0; bottom: -48px;

	max-width: 50%; 
	padding-right: 10%; }

footer {
	padding: 96px 0;
	margin-top: 96px; }

	footer::before {
		content: '';
		font-size: 0;

		position: absolute;
		left: 0; bottom: 100%; right: 0;

		height: 96px;

		border-color: transparent #07D #07D transparent;
		border-width: 48px 50vw;
		border-style: solid; }

	footer h1 { padding-bottom: .5em; }

.social {
	position: relative;

	display: inline-block;
	width: 64px;
	height: 64px;
	margin: .5em;
	
	border-radius: 100%;
	border: 32px solid #FFF;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 64px;
	
	transition: border .3s; }

	.social:nth-child(1) { background-color: #0077B5; background-image: url(images/llogo.svg); }
	.social:nth-child(2) { background-color: #3C5A99; background-image: url(images/flogo.svg); }
	.social:nth-child(3) { background-color: #DD4B39; background-image: url(images/glogo.svg); }

	.social:hover { border-width: 0; }

	.social img {
		position: absolute;
		left: -32px; top: -32px; right: -32px; bottom: -32px;
		
		width: 64px;
		height: 64px;
		max-width: 64px;
		max-height: 64px;
		
		margin: auto;
		
		transition: opacity .3s; }

		.social:hover img { opacity: 0; }

@keyframes heart {
	0% { transform: scale(1); }
	100% { transform: scale(1.1); }
}

@-webkit-keyframes heart {
	0% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1.2); }
}

#love { margin-top: 1em; }

	#love img {
		margin: 2px 0 -2px;
		
		-webkit-animation: heart linear .5s infinite alternate;
		animation: heart linear .5s infinite alternate; }

@media screen and (max-width: 1024px) {	
	header h1 { max-width: 768px; }

	h1 { font-size: 48px; }
		
	#social { display: none; }
}

@media screen and (max-width: 768px) {
	.left { right: 25%; }

	.content {
		bottom: auto;
		padding-top: 160px; }
	
	.teaser { left: 25%; }
		.teaser img:not(.shadow) { margin: auto auto 4em; }

		.iphone { max-height: 80%; }
}

@media screen and (min-width: 737px) {
	header p {
		padding: 0;
		border-top: 2px solid;
		border-bottom: 2px solid;

		-webkit-transform: skewY(-10deg);
				transform: skewY(-10deg); }
}

@media screen and (max-width: 736px) {
	p { line-height: 1.2; }

	#mainNav {
		width: 256px;
		padding: 32px 0 0 64px; }

		#mainNav::before { left: -48px; border-width: 100vh 24px; }

		#mainNav div {
			max-height: 100%;

			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch; }

	.close {
		left: -48px;
		top: 32px;

		width: 96px;
		height: 96px;
		border-width: 48px; }

	header { margin-bottom: 48px; }
	header a { display: none; }

	header::before {
		height: 48px;
		border-width: 0 0 40px 100vw; }

	header::after {
		height: 40px;
		border-width: 0 0 48px 100vw; }
	
	header p {
		left: 0; top: 24px; right: 0;
		text-align: center; }
	
	header img {
		max-width: 20%;
		padding: 64px 0 48px; }

	header h1 {
		max-width: 512px;
		padding-bottom: 1em; }

	#scrollDown {
		width: 48px;
		height: 48px;

		line-height: 48px;
		font-size: 48px; }

		.loaded #scrollDown { bottom: -48px; }
		
	#logo {
		left: 24px; top: 24px;
		width: 84px;
		height: 48px; }
	
	#overlink { right: 40px; top: 40px; }
	
	h1 {
		white-space: nowrap;
		font-size: 36px; }

	.content {
		right: 35%;
		padding: 96px 0 0 48px; }

	.teaser {
		left: 25%;
		padding: 0;
		
		-webkit-transform: none !important;
		transform: none !important; }

		.teaser:not(.multiple) .iphone {
			max-width: 30%;
		}

		.teaser:not(.multiple) .iphone + .shadow {
			max-width: 50%;
		}

		.teaser img:not(.shadow) { margin: auto auto 0; }
	
	#about { border-bottom: 48px; }
		
		#about::before, footer::before {
			height: 48px;
			border-width: 24px 50vw; }

		#about h1, #about p { width: 100%; }
			#about h1 { padding: 24px 48px 48px; }
			#about p { padding: 0 48px 1em; }

		#about p:nth-child(n+4) { max-width: 65%; }
			
		#about img { padding: 0 5%; }
}

@media screen and (max-width: 414px) {
	header img { max-width: 40%; }
	
	h1 { white-space: normal; }

	.content {
		right: 0;
		padding: 96px 40px 0 24px; }

	.teaser { left: 48px; }
		.teaser img:not(.shadow) { max-height: 40%; }

	#about h1 { padding: 24px 24px 48px; }
	#about p, #about img { padding: 0 24px 1em; }
		#about p { max-width: 100% !important; }

		#about img {
			position: relative !important;
			max-width: 100% !important;
			padding-left: 40%;
			margin-top: -3em;}
}
