/*
Colors:
Blue:        #22507F
Black:       #414141
Gray:        #717171
Middle Gray: #C0C0C0
Light Gray:  #EDEDED
White:       #FFFFFF
*/

/* 1. Font */

/* 2. Layout */
.alignleft { float: left; }
.alignright { float: right; }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
.middle {
	display: flex;
	align-items: center;
}

.wrapper {
	max-width: 67.5rem;
	padding: 0 1.5rem;
	margin: auto;
}

.row::after {
	content: '';
	display: block;
	clear: both;
}

[class*="col-"] {
	display: block;
	float: left;
	box-sizing: border-box;
	min-height: 1px;
	padding: 0 1rem;
}

.col-1  { width:   8.33333%; }
.col-2  { width:  16.66666%; }
.col-3  { width:  25%;       }
.col-4  { width:  33.33333%; }
.col-5  { width:  41.66666%; }
.col-6  { width:  50%;       }
.col-7  { width:  58.33333%; }
.col-8  { width:  66.66666%; }
.col-9  { width:  75%;       }
.col-10 { width:  83.33333%; }
.col-11 { width:  91.66666%; }
.col-12 { width: 100%;       }

/* 3. Recurring elements */

/* 3.1. Common styles */
.dark {
	background-color: #22507F;
	color: #C8D3DF;
}

.light {
	background-color: #FFFFFF;
	color: #717171;
}

.accent {
	background-color: #FFDD00;
	color: #FFFCEA;
}

/* 3.2. Common tags */
body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
	font-size: 1rem;

	line-height: 1;

	background-color: #E9EEF3;
	color: #717171;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em;
	font-weight: 800;
	color: #22507F;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a {
	color: #FFFFFF;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	line-height: 1.5;
}

p a {
	color: #22507F;
}

p a:hover {
	text-decoration: underline;
}

blockquote {
	margin: 0;
	line-height: 1.5;
}

blockquote::before,
blockquote::after {
	font-size: 2em;
	line-height: .5;
}

blockquote::before { content: '\201C'; vertical-align: bottom; }
blockquote::after  { content: '\201E'; vertical-align: top; }

hr {
	height: 1px;
	margin: 1em 0;
	border: none;

	opacity: .5;

	background-color: currentColor;
}

section {
	padding: 6rem 0;
}

section:nth-child(2n) {
	background-color: #FBFCFE;
}

input[type="text"],
input[type="email"] {
	height: 2em;
	padding: .5em 0;
	margin: 0;
	border: none;

	color: currentColor;
	background: transparent;
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;

	display: inline-block;
	width: 16em;
	height: 2em;
	padding: 0 0 0 2em;
	border: none;

	line-height: 1;

	background: url('assets/images/loop.svg') no-repeat 4px 4px;
	background-size: 24px;

	transition: width .3s ease-out;
}

button {
	border: none;
	text-transform: uppercase;
}

select {
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	padding: .5em 3em .5em 0;
	border: none;
	border-radius: 0;

	background: transparent url('assets/images/select_arrow.svg') no-repeat calc(100% - 1em) 50%;
	color: currentColor;
}

.button {
	display: inline-block;
	padding: .5em 1em;

	border-radius: .25rem;

	font-weight: 700;

	background-color: #22507F;
	color: #FFFFFF;
}

.button.accent {
	background-color: #FFDD00;
}

.button.big {
	padding: 1.5em 1em;
}

.dark .button {
	background-color: #FFFFFF;
	color: #22507F;
}

.dark .button.accent {
	color: #FFDD00;
}

.cta {
	padding: 1.5em 1em;

	border: 1px solid #EDEDED;
	border-radius: .25rem;

	box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .4);

	background-color: #FFFFFF;
}

.cta .button {
	margin: -.5em 0;
}

.dropdown {
	position: relative;

	height: 2.5em;
	margin: -.75em -.5em;
}

.dropdown ul {
	pointer-events: none;
	
	position: absolute;
	border-radius: .25rem;

	transition: background-color .2s, box-shadow .2s;
}

.dropdown li {
	float: none;
	padding: .5em;

	transition: transform .2s;
}

.dropdown li:not(:first-child) {
	transform: scale(0);
}

.dropdown:hover ul {
	pointer-events: auto;
	background: #FFFFFF;
	box-shadow: 0 4px 12px -4px rgba(0, 0, 0, .4);
}

.dropdown:hover li {
	transform: scale(1);
}

/* 3.3. Social media icons */
.facebook,
.twitter,
.linkedin,
.google {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;

	vertical-align: middle;

	background: no-repeat bottom;
	background-size: 100%;
}

.facebook:hover,
.twitter:hover,
.linkedin:hover,
.google:hover {
	background-position: top;
}

.facebook { background-image: url(assets/images/facebook.svg); }
.twitter  { background-image: url(assets/images/twitter.svg);  }
.linkedin { background-image: url(assets/images/linkedin.svg); }
.google   { background-image: url(assets/images/google.svg); }

/* 3.4. Flags */
a[class^='flag-'] {
	display: block;
	width: 2em;
	height: 1.5em;

	border-radius: .25rem;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.flag-de { background-image: url('assets/flags/de.svg'); }
.flag-en { background-image: url('assets/flags/en.svg'); }
.flag-nl { background-image: url('assets/flags/nl.svg'); }

/* 4. Page elements */

/* 4.1. Navigation */
nav {
	position: fixed;
	left: 0; top: 0; right: 0;
	z-index: 2;

	height: 3em;

	color: #FFFFFF;

	transition: background-color .2s, color .2s, box-shadow .2s;
}

nav.down {
	background-color: #FFFFFF;
	color: #414141;

	box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .4);
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	display: block;
	float: left;

	padding: 1em 1em 1em 0;
}

nav .logo {
	height: 1.5em;
	margin: -.25em 0 -.25em 1em;
}

#navSearch {
	position: absolute;
	left: 4em;
	z-index: 4;

	display: none;
	width: 33em;
	height: 3em;
	padding: 1em 0 1em 1em;
	border-left: 1px solid #EDEDED;

	white-space: nowrap;

	transition: width .2s, background-color .2s;
}

#navSearch form {
	position: relative;

	height: 2em;
	margin: -.5em;
}

nav.down #navSearch {
	display: block;
}

#toggleCategories {
	padding: .5em 0 .5em 1em;
}

#categorySelect {
	position: absolute;
	right: 0; top: 0;

	width: 10em;
	margin: -.25em 0;
}

#categorySelect ul {
	padding: .25em 0;
	text-align: center;
}

#menuToggle {
	cursor: pointer;

	position: relative;
	z-index: 3;

	width: 3em;
	height: 3em;

	color: #22507F;

	transition: color .2s;
}

#menuToggle::after {
	content: '';
	position: absolute;
	left: .5em; top: .875em;
	right: .5em;

	height: .25em;

	border-radius: .25rem;

	box-shadow: 0 .5em, 0 1em;

	background-color: currentColor;
}

#mainMenu.open + #menuToggle {
	color: #FFFFFF;
	z-index: 6;
}

/* 4.2. Header */
header {
	height: 40rem;
	padding: 5rem 0;

	background: url(assets/banners/paper_writing.jpg) no-repeat bottom;
	background-size: cover;
}

header h1,
header p {
	margin-right: 20rem;
}

header h1 {
	font-size: 4rem;
}

header p {
	font-size: 1.5rem;
	color: #FFFFFF;
}

/* 4.3. Main */

/* 4.4. Footer */
footer {
	padding: 1rem 0;
}

footer .logo {
	height: 3em;
	padding: .5em;
}

footer a[class^='flag-'] {
	display: inline-block;
	margin-right: .5em;
}

#categories a {
	margin-right: 1em;
}

/* 5. Specific elements */

/* 5.1. Search form */
#searchForm {
	margin: 2rem 0;

	border: 1px solid #EDEDED;
	border-radius: .25rem;

	box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .4);

	background-color: #FFFFFF;
}

#searchForm input {
	height: 3em;
	padding: 1em 0 0;
}

#searchForm input,
#searchForm button {
	display: block;
	width: 100%;
}

#searchForm label {
	padding: 1rem;
}

/* 5.2. Benefits */
.benefit {
	display: flex;
	align-items: center;
}

.benefit h3 {
	margin: .2em 0;

	font-size: 2em;

	color: #FFDD00;
}

.benefit img {
	height: 6em;
}

/* 5.3. How it works */

.step {
	position: relative;

	height: 12rem;
	padding: 1rem;

	font-size: 1.5em;
	text-align: center;
	
	color: #FFFFFF;
}

.step img {
	position: absolute;
	left: 0; bottom: 1rem; right: 0;

	height: 4em;
	margin: auto;
}

.step:nth-of-type(1) { background-color: hsl(210,58%,90%); }
.step:nth-of-type(2) { background-color: hsl(210,58%,80%); }
.step:nth-of-type(3) { background-color: hsl(210,58%,70%); }

.step:nth-of-type(1) { border-radius: .25rem 0 0 .25rem; }
.step:nth-of-type(3) { border-radius: 0 .25rem .25rem 0; }

.step:nth-last-of-type(n+2)::after {
	content: '';
	position: absolute;
	right: -1em;
	top: 0; bottom: 0;
	z-index: 1;

	border-right-color: transparent;
	border-style: solid;
	border-width: 6rem 0 6rem 2rem;
}

.step:nth-of-type(1)::after {
	border-color: hsl(210,58%,80%) transparent hsl(210,58%,80%) hsl(210,58%,90%);
}

.step:nth-of-type(2)::after {
	border-color: hsl(210,58%,70%) transparent hsl(210,58%,70%) hsl(210,58%,80%);
}

/* 5.4. Testimonials */
#testimonialContainer {
	position: relative;

	white-space: nowrap;
	overflow: hidden;
}

.testimonial {
	display: inline-block;
	width: 100%;
	margin: 4em 0 1em;
}

.testimonial img {
	max-width: 10rem;

	overflow: hidden;

	border: 1px solid #22507F;
	border-radius: 100%;
}

.testimonial blockquote {
	white-space: normal;
}

.testimonial:first-of-type {
	transition: margin-left .7s;
}

#prevTestimonial,
#nextTestimonial {
	cursor: pointer;

	position: absolute;
	top: 0; bottom: 0;

	height: 1em;
	width: 1em;
	margin: auto;

	font-size: 4em;
	line-height: .85;
	text-align: center;
}

#prevTestimonial { left:  0; transition:  left .2s; }
#nextTestimonial { right: 0; transition: right .2s; }

#prevTestimonial:hover { left: -.25em; }
#nextTestimonial:hover { right: -.25em; }

#prevTestimonial::after { content: '\2039'; }
#nextTestimonial::after { content: '\203A'; }

/* 5.5. Bestsellers */
.report {
	padding: 1em 0 2em;
	border-bottom: 1px solid hsl(210,58%,70%);
}

.report:nth-child(3) {
	border-bottom: none;
	padding-bottom: 4em;
}

.report h3 {
	font-size: 1.5em;
}

.saving .big {
	display: block;

	font-size: 3em;
	font-weight: 700;

	color: #FFDD00;
}

.description {
	margin-bottom: 1em;
}

.meta {
	margin-top: -.5em;
}

.meta span {
	margin-right: 1em;
}

.language::before {
	content: '';

	display: inline-block;
	width: 1.5em;
	height: 1.5em;

	vertical-align: top;

	background: url(assets/images/globe.svg) no-repeat left;
	background-size: 1em;
}

.rating {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 1em;

	font-size: 1.5em;
}

.rating::before {
	content: '';
	position: absolute;
	left: 0; top: 0; bottom: 0;

	background: url(assets/images/star.svg) repeat-x left;
	background-size: 1em;
}

.rating[data-rating='0.5']::before { width: 0.5em; }
.rating[data-rating='1']::before   { width: 1.0em; }
.rating[data-rating='1.5']::before { width: 1.5em; }
.rating[data-rating='2']::before   { width: 2.0em; }
.rating[data-rating='2.5']::before { width: 2.5em; }
.rating[data-rating='3']::before   { width: 3.0em; }
.rating[data-rating='3.5']::before { width: 3.5em; }
.rating[data-rating='4']::before   { width: 4.0em; }
.rating[data-rating='4.5']::before { width: 4.5em; }
.rating[data-rating='5']::before   { width: 5.0em; }

/* 6. Responsive queries */
@media screen and (min-width: 721px) {
	.col-l-1  { width:   8.33333%; }
	.col-l-2  { width:  16.66666%; }
	.col-l-3  { width:  25%;       }
	.col-l-4  { width:  33.33333%; }
	.col-l-5  { width:  41.66666%; }
	.col-l-6  { width:  50%;       }
	.col-l-7  { width:  58.33333%; }
	.col-l-8  { width:  66.66666%; }
	.col-l-9  { width:  75%;       }
	.col-l-10 { width:  83.33333%; }
	.col-l-11 { width:  91.66666%; }
	.col-l-12 { width: 100%;       }

	.left-l   { text-align: left; }
	.center-l { text-align: center; }
	.right-l  { text-align: right; }
	.middle-l {
		display: flex;
		align-items: center;
	}

	.hidden-l { display: none; }

	#languages {
		width: 3em;
	}

	.intro {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.testimonial blockquote {
		padding-right: 2em;
		font-size: 1.5em;
	}

	section h2 {
		font-size: 3em;
	}

	.report h3 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

@media screen and (max-width: 960px) {
	#navSearch {
		width: calc(100vw - 7em);
		max-width: 23em;
	}

	#navSearch form {
		border-radius: .25rem;

		transition: height .2s, background-color .2s, box-shadow .2s;
	}

	#navSearch.active form {
		height: 5em;
		box-shadow: 0 4px 12px -4px rgba(0, 0, 0, .4);

		background-color: #FFFFFF;
	}

	#navSearch button,
	#navSearch #categorySelect {
		display: none;
	}

	#navSearch.active button,
	#navSearch.active #categorySelect {
		display: inline-block;
	}

	#categorySelect {
		top: 2.5em;
	}
}

@media screen and (max-width: 720px) {
	.col-m-1  { width:   8.33333%; }
	.col-m-2  { width:  16.66666%; }
	.col-m-3  { width:  25%;       }
	.col-m-4  { width:  33.33333%; }
	.col-m-5  { width:  41.66666%; }
	.col-m-6  { width:  50%;       }
	.col-m-7  { width:  58.33333%; }
	.col-m-8  { width:  66.66666%; }
	.col-m-9  { width:  75%;       }
	.col-m-10 { width:  83.33333%; }
	.col-m-11 { width:  91.66666%; }
	.col-m-12 { width: 100%;       }

	.left-m   { text-align: left; }
	.center-m { text-align: center; }
	.right-m  { text-align: right; }
	.middle-m {
		display: flex;
		align-items: center;
	}

	.hidden-m { display: none; }

	/* Navigation */
	nav {
		background-color: #FFFFFF;
		color: #414141;

		box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .4);
	}

	#mainMenu {
		pointer-events: none;

		position: absolute;
		left: 0; top: 0;

		overflow-x: hidden;
		overflow-y: auto;

		height: 100vh;
		width: 100%;
		opacity: 0;

		text-align: center;
		font-size: 1.5em;

		background-color: #22507f;
		color: #FFFFFF;

		transition: opacity .2s;
	}

	#mainMenu::before {
		content: 'ReportFlip';
		font-size: .5em;
	}

	#mainMenu.open {
		pointer-events: auto;
		opacity: 1;

		z-index: 5;
	}

	#mainMenu>li {
		float: none;
		padding-right: 0;

		transform: scale(0);

		transition: transform .2s .2s;
	}

	#mainMenu.open>li {
		transform: scale(1);
	}

	#navSearch {
		display: block;
	}

	#languages::before {
		content: 'Language';
		font-size: .5em;
	}

	#languages ul {
		position: static;
		margin: auto;
		pointer-events: auto;
	}

	#languages:hover ul {
		background-color: transparent;
		box-shadow: none;
	}

	#languages li {
		display: inline-block;
		padding: .5em;
		float: none;
		transform: none;
	}

	/* Header */
	header h1 {
		font-size: 3rem;
	}

	header h1,
	header p {
		margin-right: 15rem;
	}

	/* Testimonials */
	.testimonial blockquote {
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media screen and (max-width: 480px) {
	.col-s-1  { width:   8.33333%; }
	.col-s-2  { width:  16.66666%; }
	.col-s-3  { width:  25%;       }
	.col-s-4  { width:  33.33333%; }
	.col-s-5  { width:  41.66666%; }
	.col-s-6  { width:  50%;       }
	.col-s-7  { width:  58.33333%; }
	.col-s-8  { width:  66.66666%; }
	.col-s-9  { width:  75%;       }
	.col-s-10 { width:  83.33333%; }
	.col-s-11 { width:  91.66666%; }
	.col-s-12 { width: 100%;       }

	.left-s   { text-align: left; }
	.center-s { text-align: center; }
	.right-s  { text-align: right; }
	.middle-s {
		display: flex;
		align-items: center;
	}

	.hidden-s { display: none; }

	#navSearch.active form {
		height: 8em;
	}

	#navSearch button {
		position: absolute;
		left: 2em; top: 3em; right: .5em;
		width: calc(100% - 2.5em);
	}

	#categorySelect {
		left: 2em; top: 5.5em;
	}

	header {
		position: relative;
		background-position: bottom right 20%;
	}

	header::after {
		content: '';
		position: absolute;
		left: 0; top: 0;
		right: 0; bottom: 0;

		background-color: rgba(0, 0, 0, .4);
	}

	header > * {
		position: relative;
		z-index: 1;
	}

	header h1 {
		font-size: 3rem;
	}

	header h1,
	header p {
		margin-right: 0;
	}

	.cta {
		text-align: center;
	}
	.cta .button {
		display: block;
		margin-top: 1em;
		float: none;
	}

	.benefit {
		display: block;
	}

	.step {
		height: 10rem;

		font-size: 1em;
	}

	.step:nth-last-of-type(n + 2)::after {
		border-width: 5rem 0 5rem 2rem;
	}

	.report .button {
		padding: 1em;
		margin-top: .5em;

		font-size: .8em;
	}
}
